<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endproject.dao.CovidTotalDao">

    <select id="getAllTotal" resultType="com.endproject.entity.CovidTotal">
        select * from covid_total order by id desc limit 1
    </select>

</mapper>