<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.endproject.dao.UserDao">

    <insert id="addUserByInfo">
        INSERT INTO `user`(snum,username,password,role_id,classe_id,major_id,department_id,counselor_id)
        VALUES (#{snum},#{username},#{password},#{role_id},#{classe_id},#{major_id},#{department_id},#{counselor_id})
    </insert>

    <update id="editUserById" >

    </update>

    <update id="stuupdateByid">
        update  user set password=#{password} where id=#{userId}
    </update>

</mapper>